<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title><%=title%></title>
    <link href="assets/css/main.css" rel="stylesheet">

</head>

<body>

<div class="container">

    <form class="form-signin" id="Form1" role="form" method="post" action="/login">
        <input type="text" class="form-control" placeholder="请输入用户名" autofocus name="username"><br><br>
        <input type="password" class="form-control" placeholder="请输入密码" name="password"><br><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
        <%if(error){%>
        <p style="color:red"><%=error%></p>
        <%}%>
    </form>
</div>
</body>
</html>
