<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/css/main.css">
    <style type='text/css'>
    .main{
        width: 768px;
        margin:0 auto;
    }

    </style>
</head>
<body>
<div class="main">
    <form action="/reg" method="post">
        <input type="text" placeholder="输入用户名" autofocus name='username'><br><br>
        <input type="text" placeholder="再次输入用户名" autofocus name='repeat-username'><br><br>
        <input type="password" placeholder="输入密码" name='password'><br><br>
        <button class="btn" type="submit">注册</button>
        <%if(error){%>
        <p style="color:red;"><%=error%></p>
        <%}%>
    </form>
</div>
<script type="text/javascript"></script>
</body>
</html>
