<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>知乎-首页</title>
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="navigation">
        <a href="home/index" class="zh-logo">知乎</a>
            <ul class="nav">
                <li class="active"><a href="/">首页</a></li>
                <li><a href="#">话题</a></li>
                <li><a href="#">发现</a></li>
                <li><a href="#">消息</a></li>
            </ul>
             <span class="zh-user">
                <%if(username){%>
                <a href="/release"><%=username%></a>|
                <a href="/logout">退出</a>
                <%}else{%>
                <a href="/reg">注册</a>|
                <a href="/login">登陆</a>
                <%}%>
            </span>
    </div>
    <div class="zh-wrap">
    <%list.forEach(function(objInfo){%>
        <div class="zh-item">
            <img class="img-responsive" src="http://tk.v5cg.com/Public/Home/assets/images/logo-ycx.png">
            <div class="zh-content">
                <p>热门回答，来自 时尚</p>
                <p>有哪些鲜为人知的厉害的运动品牌？</p>
                <p>Jiang CJ 最近要搞装修了，坑先不填了</p>
                <p><%=objInfo.content%></p>
            </div>
        </div>
    <%})%>
    </div>
</div>
</body>
</html>
