* {
    padding: 0;
    margin: 0;
    outline: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

img {
    border: 0
}

body {
    font: 12px/1.5 arial,tahoma,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    height: 100%;
    color: #333;
    background-color: #f2f2f2
}

html {
    height: 100%
}

a,p {
    color: #444;
    text-decoration: none;
    word-wrap: break-word
}

i {
    font-style: normal
}

li {
    list-style: none
}
.navigation{
    background-color: #0767c8;
    height: 58px;
    line-height: 58px;
    overflow: hidden;
    color: #fff;
}
.zh-wrap{
width: 1200px;
margin: 0px auto;
}
.navigation a{
    font-size: 14px;
    color: #fff;
}
.navigation .zh-logo{
    padding-left: 15px
}
ul.nav{
    display: inline-block;
        vertical-align: middle;
        margin-left: 200px;
}
ul.nav .active{
    background-color: #055fb8;
}
ul.nav li{
    display: inline-block;
}
ul.nav li a{
    display: block;
    padding:0px 10px;
}
.zh-user{
float: right;
padding-right: 15px;
}
.zh-wrap{
    padding:15px 0px;
}
.zh-item{
    margin-bottom: 15px;
}
.img-responsive{
    float: left;
    margin-right: 15px;
}
.zh-content{
    overflow: hidden;
}