<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后-->
    <meta name="keywords" content="CG工具下载,3DMAX插件,Maya软件,建模插件,渲染软件下载">
    <meta name="description" content="CG工具箱是一个能够帮助CG行业大大提高工作效率的软件，这里汇集了国内外最新的3dmax插件、maya建模插件、photoshop渲染软件等。如果您想做一个效率的CG人，那一定不想错过它！">
    <title><%=title%></title>
    <!--[if lt IE 9]>
    <script src="/Public/Home/assets/js/libs/html5shiv.min.js"></script>
    <script src="/Public/Home/assets/js/libs/respond.min.js"></script>
    <![endif]-->

